In [1]:
from mysql import connector

mydb = connector.connect(
  host="localhost",
  user="root",
  password="root",
  port = "3306"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000256FE438E10>

In [2]:
cursor = mydb.cursor()
cursor.execute("SHOW DATABASES")
# print(cursor.fetchall())
for db in cursor:
    print(db)

('depi',)
('emp',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('talabat',)
('world',)

In [3]:
cursor = mydb.cursor()
#cursor.execute("CREATE DATABASE Talabat")
cursor.execute("SHOW DATABASES")
for db in cursor:
    print(db)

('depi',)
('emp',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('talabat',)
('world',)

Import data from pandas to mysql

In [4]:
#!pip install sqlalchemy

In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
# Database connection details
username = 'root'
password = 'root'
host = 'localhost'
database = 'Talabat'

# Create connection string and engine
connection_string = f'mysql+mysqlconnector://{username}:{password}@{host}/{database}'
engine = create_engine(connection_string)

# Read Excel file into DataFrame
file_path = r'D:\DataScience\mySQL\Talbat Case Study Dataset.xlsx'
try:
    df = pd.read_excel(file_path)
except FileNotFoundError:
    print(f"Error: File not found at {file_path}.")
    exit()

# Write DataFrame to MySQL table
try:
    df.to_sql('fct_order', con=engine, if_exists='replace', index=False)
    print("Data inserted successfully into the 'fct_order' table.")
except Exception as e:
    print(f"Error during data insertion: {e}")
    exit()

# Verify data insertion
try:
    # 1.	Select all columns from the fct_order table.
    result_df = pd.read_sql('SELECT * FROM fct_order', con=engine)
    print(f"Columns in the 'fct_order' table: {result_df.columns.tolist()}")
except Exception as e:
    print(f"Error during data verification: {e}")

Data inserted successfully into the 'fct_order' table.
Columns in the 'fct_order' table: ['order_id', 'order_time', 'vendor_id', 'analytical_customer_id', 'is_acquisition', 'is_successful', 'reason', 'sub_reason', 'owner', 'delivery_arrangement', 'gmv_amount_lc', 'basket_amount_lc', 'delivery_fee_amount_lc', 'Payment Method', 'actual_delivery_time', 'promised_delivery_time', 'order_delay', 'dropoff_distance_manhattan', 'platform', 'vertical_class', 'vertical', 'is_affordable_freedelivery', 'is_affordable_item', 'is_affordable_gem', 'is_affordable_restaurant', 'is_affordable_voucher', 'is_affordable', 'affordability_amt_total', 'City Cluster', 'City', 'Zone']

2.	Retrieve only the order_id, order_time, and vendor_id columns from the fct_order table.

In [7]:
try:
    result_df = pd.read_sql('SELECT order_id, order_time, vendor_id FROM fct_order', con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

         order_id          order_time  vendor_id
0       544145594 2021-09-01 10:41:53     609508
1       544478492 2021-09-01 18:17:52     602440
2       544358032 2021-09-01 15:56:56     709071
3       544366924 2021-09-01 16:09:09     607670
4       544372362 2021-09-01 16:16:32     616421
...           ...                 ...        ...
119880  642783788 2022-01-01 09:50:45     604427
119881  642718374 2022-01-01 03:24:56     607605
119882  642739962 2022-01-01 06:58:07     603674
119883  643440356 2022-01-01 23:00:07     602778
119884  643105834 2022-01-01 17:01:47     602795

[119885 rows x 3 columns]

3.	Find all successful orders

In [8]:
try:
    result_df = pd.read_sql("SELECT * FROM fct_order WHERE is_successful = 'SUCCESS'", con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

        order_id          order_time  vendor_id    analytical_customer_id  \
0      544541536 2021-09-01 19:17:57     747787  oaTpDQW2OrSc2KBCWBOeUo9w
1      544550533 2021-09-01 19:26:23     724548  G-uZ6Ra-D_RX-WVqaWr_F5Gg
2      544509239 2021-09-01 18:47:47     724548  G-uZ6Ra-D_RX-WVqaWr_F5Gg
3      544966242 2021-09-02 12:02:57     749515  CTTXP9ZmvsS5mylyZVFuSE6g
4      547175482 2021-09-04 23:31:07     618852  AA8-hKZuguSxuGEzZY6mB4zA
...          ...                 ...        ...                       ...
19711  641822624 2021-12-31 01:58:11     719914  JdXmpmHq_3QIqfbcHZ2JvMeA
19712  643444387 2022-01-01 23:06:56     601538  T0JHCJSucwRXu3QtS7SKU2aA
19713  643406999 2022-01-01 22:12:33     761271  voGFPXrOdoSqOmuHr_0o6X-A
19714  640797844 2021-12-29 21:41:37     753078  HtYa7vUa_PRlaJh2UzO7lglg
19715  641655142 2021-12-30 21:26:45     747677  sZn_gh_uicSMuGlo_cmKo-qQ

       is_acquisition  is_successful                   reason  \
0                   0              0       VENDOR_UNREACHABLE
1                   0              0          VENDOR_TOO_BUSY
2                   0              0          VENDOR_TOO_BUSY
3                   0              0       VENDOR_NO_RESPONSE
4                   0              0   CUSTOMER_MISTAKE_ERROR
...               ...            ...                      ...
19711               0              0  UNABLE_TO_FIND_CUSTOMER
19712               0              0            LATE_DELIVERY
19713               0              0   CUSTOMER_MISTAKE_ERROR
19714               0              0           REASON_UNKNOWN
19715               0              0           REASON_UNKNOWN

                                          sub_reason      owner  \
0                                               None     VENDOR
1                                               None     VENDOR
2                                               None     VENDOR
3                                               None     VENDOR
4      Canceled by Customer - Before vendor accepted   CUSTOMER
...                                              ...        ...
19711                                           None   CUSTOMER
19712                                           None  TRANSPORT
19713                 Changed mind - Mistake / Error   CUSTOMER
19714                                           None   PLATFORM
19715                                           None   PLATFORM

      delivery_arrangement  ...  is_affordable_freedelivery  \
0                      TGO  ...                           0
1                      TGO  ...                           0
2                      TGO  ...                           0
3                      TGO  ...                           1
4                      TGO  ...                           0
...                    ...  ...                         ...
19711                  TGO  ...                           0
19712                  TGO  ...                           0
19713                  TGO  ...                           0
19714                  TMP  ...                           0
19715                  TMP  ...                           0

       is_affordable_item  is_affordable_gem is_affordable_restaurant  \
0                       0                  0                        0
1                       0                  0                        0
2                       0                  0                        0
3                       0                  0                        0
4                       0                  0                        0
...                   ...                ...                      ...
19711                   0                  0                        0
19712                   0                  0                        0
19713                   0                  0                        0
19714                   0                  0                        0
19715                   0                  0                        0

       is_affordable_voucher  is_affordable  affordability_amt_total  \
0                          1              0                     None
1                          1              0                     None
2                          1              0                     None
3                          1              1                     None
4                          1              0                     None
...                      ...            ...                      ...
19711                      1              0                     None
19712                      1              0                     None
19713                      1              0                     None
19714                      0              0                     None
19715                      0              0                     None

       City Cluster      City               Zone
0             Delta     Tanta              Tanta
1             Cairo     Cairo               Giza
2             Cairo     Cairo               Giza
3             Delta   Zagazig            Zagazig
4             Delta     Tanta              Tanta
...             ...       ...                ...
19711         Cairo     Cairo  Cairo_city_centre
19712         Cairo     Cairo            October
19713         Delta  Mansoura           Mansoura
19714         Cairo     Cairo      Tagammoa awal
19715           ESM  Ismailia       Ismalia city

[19716 rows x 31 columns]

4.	List distinct values of City from the fct_order table.

In [9]:
try:
    result_df = pd.read_sql('SELECT DISTINCT city FROM fct_order', con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

                    city
0                  Cairo
1                  Tanta
2             Alexandria
3                Zagazig
4                 Assiut
5               Damietta
6               Mansoura
7                 Talkha
8   Al Mahallah Al Kubra
9               Ismailia
10          Damietta New
11             Port Said
12                 Banha
13              Hurghada
14             Damanhour
15                 Minya
16       Shebeen El Koom
17                  None
18                 Suhag
19           North Coast
20                  Suez
21            Ras El Bar
22              El Gouna

5.	Retrieve all vendors whose vertical is 'Food'.

In [10]:
try:
    result_df = pd.read_sql("SELECT * FROM fct_order WHERE vertical = 'Food'", con=engine)
    print(result_df)
except Exception as e:  
    print(f"Error during data retrieval: {e}")

         order_id          order_time  vendor_id    analytical_customer_id  \
0       544145594 2021-09-01 10:41:53     609508  6zWSp9yqnEQuq4N6ykRgbbdQ
1       544478492 2021-09-01 18:17:52     602440  TtmFFw26sQR26nBE2RykhxQA
2       544358032 2021-09-01 15:56:56     709071  7pB4MC2aBPRdajLH2wPvIvAA
3       544366924 2021-09-01 16:09:09     607670  AFedsf0e-lSZer_X0eR4VE-g
4       544372362 2021-09-01 16:16:32     616421  JDYqF36aULSEaWsz604DuuRw
...           ...                 ...        ...                       ...
105052  642783788 2022-01-01 09:50:45     604427  _B1YUyVOo-RLOoFMVCiTi-DQ
105053  642718374 2022-01-01 03:24:56     607605  yTrHLDAuhuScuiCHABzNUdWA
105054  642739962 2022-01-01 06:58:07     603674  jWIm4qj6vORl6B1ejy0EImDQ
105055  643440356 2022-01-01 23:00:07     602778  RiSAcy9SUKT5SU_k9rWqVeug
105056  643105834 2022-01-01 17:01:47     602795  3zGv03US8BT-SpBHUAKVWmDQ

        is_acquisition  is_successful reason sub_reason owner  \
0                    0              1   None       None  None
1                    0              1   None       None  None
2                    0              1   None       None  None
3                    0              1   None       None  None
4                    0              1   None       None  None
...                ...            ...    ...        ...   ...
105052               1              1   None       None  None
105053               0              1   None       None  None
105054               0              1   None       None  None
105055               0              1   None       None  None
105056               1              1   None       None  None

       delivery_arrangement  ...  is_affordable_freedelivery  \
0                       TGO  ...                           0
1                       TGO  ...                           0
2                       TGO  ...                           0
3                       TGO  ...                           0
4                       TGO  ...                           0
...                     ...  ...                         ...
105052                  TMP  ...                           0
105053                  TMP  ...                           0
105054                  TMP  ...                           0
105055                  TMP  ...                           0
105056                  TMP  ...                           0

        is_affordable_item  is_affordable_gem is_affordable_restaurant  \
0                        0                  0                        0
1                        0                  0                        0
2                        0                  0                        0
3                        0                  0                        0
4                        0                  0                        0
...                    ...                ...                      ...
105052                   0                  0                        0
105053                   0                  0                        0
105054                   0                  0                        0
105055                   0                  0                        0
105056                   0                  0                        0

        is_affordable_voucher  is_affordable  affordability_amt_total  \
0                           0              0                      NaN
1                           0              0                      NaN
2                           0              0                      NaN
3                           0              0                      NaN
4                           0              0                      NaN
...                       ...            ...                      ...
105052                      0              0                      NaN
105053                      0              0                      NaN
105054                      0              0                      NaN
105055                      0              0                      NaN
105056                      0              0                      NaN

        City Cluster        City               Zone
0              Cairo       Cairo        Mohandiseen
1              Cairo       Cairo  Cairo_city_centre
2              Cairo       Cairo     Tagamoa 5 east
3              Cairo       Cairo  Cairo_city_centre
4              Cairo       Cairo              Maadi
...              ...         ...                ...
105052         Cairo       Cairo   Hadayek el qobba
105053         Cairo       Cairo         Heliopolis
105054         Cairo       Cairo         Tagammoa 5
105055          Alex  Alexandria    Alexandria west
105056         Cairo       Cairo             Helwan

[105057 rows x 31 columns]

6.	Sort all vendors alphabetically by their name_en.

In [11]:
connection_string = f'mysql+mysqlconnector://{username}:{password}@{host}/{database}'
engine = create_engine(connection_string)
file_path = r'D:\DataScience\mySQL\Talbat Case Study Dataset.xlsx'
df = pd.read_excel(file_path, sheet_name='dim_vendor')  
try:
    df.to_sql('dim_vendor', con=engine, if_exists='replace', index=False)
    print("Data inserted successfully into the 'dim_vendor' table.")
    result_df = pd.read_sql('SELECT * FROM dim_vendor ORDER BY name_en ASC', con=engine)
    print("Sorted vendors:")
    print(result_df)
except Exception as e:
    print(f"Error: {e}")

Data inserted successfully into the 'dim_vendor' table.
Sorted vendors:
      vendor_id                                            name_en  \
0        752811  ,KFC, Ahmed Orabi Omar Afandi - B Tech - Mohan...
1        764442              " Desoky & Soda Tagammoa 5 - Cloud 9"
2        613453     1000 Hana, 6th of October - El Hay El Motamyez
3        754383                     109 street, El Gomhuria Street
4        724284                                         2 GO,Miami
...         ...                                                ...
6146     607116                             Zooba, El Sheikh Zayed
6147     744646                       Zooba, Madinaty - Green Belt
6148     728489                  Zooka Smoky House, Mokattam - 9ST
6149     725418                             Zuba, 16 El Bradizo ST
6150     746170                                  ع El Nail, Agouza

          chain_name_en vertical_class vertical main_cuisine
0                   KFC           food     food    Fast Food
1         Desoky & Soda           food     food        Pasta
2             1000 Hana           food     food   Sandwiches
3                109 ST           food     food      Italian
4                  2 GO           food     food    Beverages
...                 ...            ...      ...          ...
6146              Zooba           food     food     Oriental
6147              Zooba           food     food     Oriental
6148  Zooka Smoky House           food     food   Sandwiches
6149               Zuba           food     food     Oriental
6150          ع El Nail           food     food     Desserts

[6151 rows x 6 columns]

7.	Count the total number of orders in the fct_order table.

In [12]:
try:
    result_df = pd.read_sql('SELECT COUNT(*) AS total_orders FROM fct_order', con=engine)
    print(result_df)    
except Exception as e:  
    print(f"Error during data retrieval: {e}")

   total_orders
0        119885

8.	Find the total gmv_amount_lc for all orders.

In [13]:
try:
    result_df = pd.read_sql('SELECT SUM(gmv_amount_lc) AS total_gmv_amount_lc FROM fct_order', con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

   total_gmv_amount_lc
0         1.640077e+07

9.	Retrieve orders placed on a specific date (e.g., '2024-01-01').

In [14]:
try:
    result_df = pd.read_sql("SELECT * FROM fct_order WHERE DATE(order_time) = '2021-09-01'", con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

      order_id          order_time  vendor_id    analytical_customer_id  \
0    544145594 2021-09-01 10:41:53     609508  6zWSp9yqnEQuq4N6ykRgbbdQ
1    544478492 2021-09-01 18:17:52     602440  TtmFFw26sQR26nBE2RykhxQA
2    544358032 2021-09-01 15:56:56     709071  7pB4MC2aBPRdajLH2wPvIvAA
3    544366924 2021-09-01 16:09:09     607670  AFedsf0e-lSZer_X0eR4VE-g
4    544372362 2021-09-01 16:16:32     616421  JDYqF36aULSEaWsz604DuuRw
..         ...                 ...        ...                       ...
967  544445342 2021-09-01 17:44:15     606649  o2Q8Sv8uA_Sluil98uQ5OyTg
968  544330639 2021-09-01 15:19:31     608084  YhrWKwcqSVRGqasFc0NUzofQ
969  544444518 2021-09-01 17:43:21     751762  c2YPpC--01Sy-74n-B2qm4HA
970  544717158 2021-09-01 22:37:23     728726  y2uB6zqanFQiazcTqsP38csg
971  544691549 2021-09-01 21:58:35     707198  TpKaU5FiYdTLiIm7FjsRM7AA

     is_acquisition  is_successful reason sub_reason owner  \
0                 0              1   None       None  None
1                 0              1   None       None  None
2                 0              1   None       None  None
3                 0              1   None       None  None
4                 0              1   None       None  None
..              ...            ...    ...        ...   ...
967               0              1   None       None  None
968               0              1   None       None  None
969               0              1   None       None  None
970               0              1   None       None  None
971               1              1   None       None  None

    delivery_arrangement  ...  is_affordable_freedelivery  is_affordable_item  \
0                    TGO  ...                           0                   0
1                    TGO  ...                           0                   0
2                    TGO  ...                           0                   0
3                    TGO  ...                           0                   0
4                    TGO  ...                           0                   0
..                   ...  ...                         ...                 ...
967                  TMP  ...                           0                   0
968                  TMP  ...                           1                   0
969                  TMP  ...                           0                   0
970                  TMP  ...                           0                   0
971                  TMP  ...                           0                   0

     is_affordable_gem is_affordable_restaurant  is_affordable_voucher  \
0                    0                        0                      0
1                    0                        0                      0
2                    0                        0                      0
3                    0                        0                      0
4                    0                        0                      0
..                 ...                      ...                    ...
967                  0                        0                      0
968                  0                        0                      0
969                  0                        0                      0
970                  0                        0                      0
971                  0                        0                      0

     is_affordable  affordability_amt_total  City Cluster   City  \
0                0                      NaN         Cairo  Cairo
1                0                      NaN         Cairo  Cairo
2                0                      NaN         Cairo  Cairo
3                0                      NaN         Cairo  Cairo
4                0                      NaN         Cairo  Cairo
..             ...                      ...           ...    ...
967              0                      NaN         Cairo  Cairo
968              1                      NaN         Cairo  Cairo
969              0                      NaN         Cairo  Cairo
970              0                      NaN         Cairo  Cairo
971              0                      NaN         Cairo  Cairo

                  Zone
0          Mohandiseen
1    Cairo_city_centre
2       Tagamoa 5 east
3    Cairo_city_centre
4                Maadi
..                 ...
967        Mohandiseen
968   Hadayek el qobba
969         Heliopolis
970     Tagamoa 5 east
971          Ain shams

[972 rows x 31 columns]

10.	Retrieve all columns for orders with delivery_fee_amount_lc greater than 10.

In [15]:
try:
    result_df = pd.read_sql('SELECT * FROM fct_order WHERE delivery_fee_amount_lc > 10', con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

        order_id          order_time  vendor_id    analytical_customer_id  \
0      544145594 2021-09-01 10:41:53     609508  6zWSp9yqnEQuq4N6ykRgbbdQ
1      544372362 2021-09-01 16:16:32     616421  JDYqF36aULSEaWsz604DuuRw
2      544150522 2021-09-01 10:51:28     614199  7JA09h4C9NTbCYXV4EFncRWQ
3      544809110 2021-09-02 03:13:46     724709  73VUjXL6VxS165NfLgMwXQTg
4      547094922 2021-09-04 21:25:32     603097  tkNv4QyKJrRrKREAypvbDDlw
...          ...                 ...        ...                       ...
58419  642783788 2022-01-01 09:50:45     604427  _B1YUyVOo-RLOoFMVCiTi-DQ
58420  642718374 2022-01-01 03:24:56     607605  yTrHLDAuhuScuiCHABzNUdWA
58421  642739962 2022-01-01 06:58:07     603674  jWIm4qj6vORl6B1ejy0EImDQ
58422  643440356 2022-01-01 23:00:07     602778  RiSAcy9SUKT5SU_k9rWqVeug
58423  643105834 2022-01-01 17:01:47     602795  3zGv03US8BT-SpBHUAKVWmDQ

       is_acquisition  is_successful reason sub_reason owner  \
0                   0              1   None       None  None
1                   0              1   None       None  None
2                   0              1   None       None  None
3                   0              1   None       None  None
4                   0              1   None       None  None
...               ...            ...    ...        ...   ...
58419               1              1   None       None  None
58420               0              1   None       None  None
58421               0              1   None       None  None
58422               0              1   None       None  None
58423               1              1   None       None  None

      delivery_arrangement  ...  is_affordable_freedelivery  \
0                      TGO  ...                           0
1                      TGO  ...                           0
2                      TGO  ...                           0
3                      TGO  ...                           0
4                      TGO  ...                           0
...                    ...  ...                         ...
58419                  TMP  ...                           0
58420                  TMP  ...                           0
58421                  TMP  ...                           0
58422                  TMP  ...                           0
58423                  TMP  ...                           0

       is_affordable_item  is_affordable_gem is_affordable_restaurant  \
0                       0                  0                        0
1                       0                  0                        0
2                       0                  0                        0
3                       1                  0                        0
4                       0                  0                        0
...                   ...                ...                      ...
58419                   0                  0                        0
58420                   0                  0                        0
58421                   0                  0                        0
58422                   0                  0                        0
58423                   0                  0                        0

       is_affordable_voucher  is_affordable  affordability_amt_total  \
0                          0              0                      NaN
1                          0              0                      NaN
2                          0              0                      NaN
3                          0              1                     6.75
4                          0              0                      NaN
...                      ...            ...                      ...
58419                      0              0                      NaN
58420                      0              0                      NaN
58421                      0              0                      NaN
58422                      0              0                      NaN
58423                      0              0                      NaN

       City Cluster        City                  Zone
0             Cairo       Cairo           Mohandiseen
1             Cairo       Cairo                 Maadi
2             Cairo       Cairo     Cairo_city_centre
3             Cairo       Cairo               October
4             Cairo       Cairo  Manial and bahr azam
...             ...         ...                   ...
58419         Cairo       Cairo      Hadayek el qobba
58420         Cairo       Cairo            Heliopolis
58421         Cairo       Cairo            Tagammoa 5
58422          Alex  Alexandria       Alexandria west
58423         Cairo       Cairo                Helwan

[58424 rows x 31 columns]

11.	Find the earliest and latest order_time in the dataset.

In [16]:
try:
    result_df = pd.read_sql('SELECT MIN(order_time) AS earliest_order_time, MAX(order_time) AS latest_order_time FROM fct_order', con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

  earliest_order_time   latest_order_time
0 2021-09-01 00:00:51 2022-01-02 23:59:45

12.	Retrieve all orders with basket_amount_lc between 20 and 50.

In [17]:
try:
    result_df = pd.read_sql('SELECT * FROM fct_order WHERE basket_amount_lc BETWEEN 20 AND 50', con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

        order_id          order_time  vendor_id    analytical_customer_id  \
0      545427867 2021-09-02 20:36:51     750010  Hr0-7I36JmSL62gZ3PrBeQpQ
1      547226043 2021-09-05 01:54:58     718588  gcIp8W7i3mQ8i5Fj7-OnRGtA
2      547770271 2021-09-05 19:55:59     753819  8s0Km1w27AQJ238Dw1Vu4w9g
3      545448312 2021-09-02 20:57:09     733347  VUquePk20XRZ2okvk1r2B1NA
4      546603375 2021-09-04 11:48:23     734798  2O7-Z2JeLESweHKSJ90ZWSPw
...          ...                 ...        ...                       ...
17430  641838705 2021-12-31 03:20:26     716565  OgDLFoLGfhRbG0I9LOf_Qjgg
17431  642553038 2021-12-31 21:35:34     614209  JC9uzQJ247Tf2LwmJSBwIJhw
17432  642200137 2021-12-31 16:01:18     605480  atkuORuqPDT0q-TFuCAxKR7g
17433  643908824 2022-01-02 16:41:43     614946  8IFIIvPikcQ7iEGKPrnbQBfw
17434  644131701 2022-01-02 20:01:24     614941  T0qI4TWyuUQMyiBhWA1sGcRw

       is_acquisition  is_successful                   reason sub_reason  \
0                   0              1                     None       None
1                   0              1                     None       None
2                   0              1                     None       None
3                   0              0  UNABLE_TO_FIND_CUSTOMER       None
4                   0              0            LATE_DELIVERY       None
...               ...            ...                      ...        ...
17430               0              1                     None       None
17431               0              1                     None       None
17432               0              1                     None       None
17433               0              1                     None       None
17434               0              1                     None       None

           owner delivery_arrangement  ...  is_affordable_freedelivery  \
0           None                  TGO  ...                           0
1           None                  TGO  ...                           0
2           None                  TGO  ...                           0
3       CUSTOMER                  TGO  ...                           0
4      TRANSPORT                  TGO  ...                           0
...          ...                  ...  ...                         ...
17430       None                  TMP  ...                           0
17431       None                  TMP  ...                           0
17432       None                  TMP  ...                           0
17433       None                  TMP  ...                           0
17434       None                  TMP  ...                           0

       is_affordable_item  is_affordable_gem is_affordable_restaurant  \
0                       0                  0                        0
1                       1                  0                        0
2                       0                  0                        0
3                       0                  0                        0
4                       0                  0                        0
...                   ...                ...                      ...
17430                   0                  0                        0
17431                   1                  0                        0
17432                   0                  0                        0
17433                   0                  0                        0
17434                   0                  0                        0

       is_affordable_voucher  is_affordable  affordability_amt_total  \
0                          0              0                      NaN
1                          0              1                     15.0
2                          0              0                      NaN
3                          0              0                      NaN
4                          0              0                      NaN
...                      ...            ...                      ...
17430                      0              0                      NaN
17431                      0              1                     25.0
17432                      0              0                      NaN
17433                      0              0                      NaN
17434                      0              0                      NaN

       City Cluster        City               Zone
0             Cairo       Cairo   Hadayek el ahram
1             Cairo       Cairo            October
2             Cairo       Cairo  Cairo_city_centre
3             Delta    Mansoura           Mansoura
4              Alex  Alexandria    Alexandria west
...             ...         ...                ...
17430         Cairo       Cairo               Giza
17431         Cairo       Cairo           Madinaty
17432         Cairo       Cairo  Cairo_city_centre
17433         Cairo       Cairo          Nasr city
17434         Cairo       Cairo          Nasr city

[17435 rows x 31 columns]

13.	Select orders where the Payment Method is "Credit Card".

In [18]:
try:
    # Use backticks to enclose column name with spaces
    result_df = pd.read_sql("SELECT * FROM fct_order WHERE `Payment Method` = 'Online - Card'", con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

        order_id          order_time  vendor_id    analytical_customer_id  \
0      544372362 2021-09-01 16:16:32     616421  JDYqF36aULSEaWsz604DuuRw
1      544467338 2021-09-01 18:06:40     735754  uJkW3IHmcxT5m8qhHNHLfIpg
2      546626791 2021-09-04 12:22:37     716313  jKhdnvpKjpT5KHA0pFFasAEA
3      546814263 2021-09-04 16:37:59     716352  6fbQDdiqt9QzqEDXic3mmAXQ
4      547224498 2021-09-05 01:47:58     716314  1LO7zS9iz4QZiXXY9NyGJ5BA
...          ...                 ...        ...                       ...
28720  643996300 2022-01-02 18:02:49     616641  DYxcR1FKRxS3KlobFn1qkYRQ
28721  644081350 2022-01-02 19:16:30     615575  2gx2RkxiKBRci41gx5Ifyh-A
28722  643726942 2022-01-02 13:07:29     616563  rPGYmwMWoDTdW_TGMbJp1oMg
28723  643675067 2022-01-02 11:59:58     756977  JI1jvA2WMTSAW36d2qbvGEpQ
28724  644271677 2022-01-02 22:38:36     615574  C4-ATkc2O0Tv2gVxcwKSc_6w

       is_acquisition  is_successful                  reason  \
0                   0              1                    None
1                   0              1                    None
2                   0              1                    None
3                   0              1                    None
4                   0              1                    None
...               ...            ...                     ...
28720               0              0        ITEM_UNAVAILABLE
28721               0              0         VENDOR_TOO_BUSY
28722               0              0  CUSTOMER_MISTAKE_ERROR
28723               0              0        ITEM_UNAVAILABLE
28724               0              0      VENDOR_NO_RESPONSE

                                          sub_reason     owner  \
0                                               None      None
1                                               None      None
2                                               None      None
3                                               None      None
4                                               None      None
...                                              ...       ...
28720                                           None    VENDOR
28721                                           None    VENDOR
28722  Canceled by Customer - Before vendor accepted  CUSTOMER
28723                                           None    VENDOR
28724                                           None    VENDOR

      delivery_arrangement  ...  is_affordable_freedelivery  \
0                      TGO  ...                           0
1                      TGO  ...                           0
2                      TGO  ...                           0
3                      TGO  ...                           0
4                      TGO  ...                           0
...                    ...  ...                         ...
28720                  TGO  ...                           0
28721                  TGO  ...                           0
28722                  TGO  ...                           0
28723                  TGO  ...                           0
28724                  TGO  ...                           0

       is_affordable_item  is_affordable_gem is_affordable_restaurant  \
0                       0                  0                        0
1                       1                  0                        0
2                       0                  0                        0
3                       0                  0                        0
4                       0                  0                        0
...                   ...                ...                      ...
28720                   0                  0                        0
28721                   0                  0                        0
28722                   0                  0                        0
28723                   0                  0                        0
28724                   0                  0                        0

       is_affordable_voucher  is_affordable  affordability_amt_total  \
0                          0              0                      NaN
1                          0              1                     38.0
2                          0              0                      NaN
3                          0              0                      NaN
4                          0              0                      NaN
...                      ...            ...                      ...
28720                      0              0                      NaN
28721                      0              0                      NaN
28722                      0              0                      NaN
28723                      0              0                      NaN
28724                      0              0                      NaN

       City Cluster   City           Zone
0             Cairo  Cairo          Maadi
1             Cairo  Cairo          Maadi
2             Cairo  Cairo  El rehab city
3             Cairo  Cairo     Tagammoa 5
4             Cairo  Cairo   Sheikh zayed
...             ...    ...            ...
28720         Cairo  Cairo     Tagammoa 5
28721         Cairo  Cairo   Sheikh zayed
28722         Cairo  Cairo          Maadi
28723         Cairo  Cairo          Maadi
28724         Cairo  Cairo     Tagammoa 5

[28725 rows x 31 columns]

14.	Count the total number of unique vendors in the fct_order table.

In [19]:
try:
    result_df = pd.read_sql('SELECT COUNT(DISTINCT vendor_id) AS total_unique_vendors FROM fct_order', con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

   total_unique_vendors
0                  6178

15.	Retrieve the names of vendors from dim_vendor whose main_cuisine is 'Pizza'.

In [20]:
try:
    result_df = pd.read_sql("SELECT name_en FROM dim_vendor WHERE main_cuisine = 'Pizza'", con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

                                               name_en
0    Cando's Pizza & Coffee, Freshly Made, 6th of O...
1            Italiano Pizza, Hadayek El Ahram - Area B
2            Pizza Roma 3, 45 Street - Izbat El Amrawy
3                Rozan Pizza,Hadayek El Ahram - Area د
4                            Pizza Queen - San Stefano
..                                                 ...
608  Ted`s Pizzeria, AlMaza Airport Almaza,AlMaza A...
609       Ted's Pizzeria, Tagammoa 5 - North Investors
610                  Hola, 6th of October - West Somed
611                                   Fave, Al Kawmeya
612                            Don Carlo, Raml Station

[613 rows x 1 columns]

16.	Find the average order_delay for all orders.

In [21]:
try:
    result_df = pd.read_sql('SELECT AVG(order_delay) AS average_order_delay FROM fct_order', con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

   average_order_delay
0           -181.67232

17.	Retrieve all columns for orders where City is 'Cairo'.

In [22]:
try:
    result_df = pd.read_sql("SELECT * FROM fct_order WHERE city = 'Cairo'", con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

        order_id          order_time  vendor_id    analytical_customer_id  \
0      544145594 2021-09-01 10:41:53     609508  6zWSp9yqnEQuq4N6ykRgbbdQ
1      544478492 2021-09-01 18:17:52     602440  TtmFFw26sQR26nBE2RykhxQA
2      544358032 2021-09-01 15:56:56     709071  7pB4MC2aBPRdajLH2wPvIvAA
3      544366924 2021-09-01 16:09:09     607670  AFedsf0e-lSZer_X0eR4VE-g
4      544372362 2021-09-01 16:16:32     616421  JDYqF36aULSEaWsz604DuuRw
...          ...                 ...        ...                       ...
83827  643006405 2022-01-01 15:07:20     748065  MkKcitJe3YREeltsJI7DUXqA
83828  642783788 2022-01-01 09:50:45     604427  _B1YUyVOo-RLOoFMVCiTi-DQ
83829  642718374 2022-01-01 03:24:56     607605  yTrHLDAuhuScuiCHABzNUdWA
83830  642739962 2022-01-01 06:58:07     603674  jWIm4qj6vORl6B1ejy0EImDQ
83831  643105834 2022-01-01 17:01:47     602795  3zGv03US8BT-SpBHUAKVWmDQ

       is_acquisition  is_successful reason sub_reason owner  \
0                   0              1   None       None  None
1                   0              1   None       None  None
2                   0              1   None       None  None
3                   0              1   None       None  None
4                   0              1   None       None  None
...               ...            ...    ...        ...   ...
83827               0              1   None       None  None
83828               1              1   None       None  None
83829               0              1   None       None  None
83830               0              1   None       None  None
83831               1              1   None       None  None

      delivery_arrangement  ...  is_affordable_freedelivery  \
0                      TGO  ...                           0
1                      TGO  ...                           0
2                      TGO  ...                           0
3                      TGO  ...                           0
4                      TGO  ...                           0
...                    ...  ...                         ...
83827                  TMP  ...                           0
83828                  TMP  ...                           0
83829                  TMP  ...                           0
83830                  TMP  ...                           0
83831                  TMP  ...                           0

       is_affordable_item  is_affordable_gem is_affordable_restaurant  \
0                       0                  0                        0
1                       0                  0                        0
2                       0                  0                        0
3                       0                  0                        0
4                       0                  0                        0
...                   ...                ...                      ...
83827                   1                  0                        0
83828                   0                  0                        0
83829                   0                  0                        0
83830                   0                  0                        0
83831                   0                  0                        0

       is_affordable_voucher  is_affordable  affordability_amt_total  \
0                          0              0                      NaN
1                          0              0                      NaN
2                          0              0                      NaN
3                          0              0                      NaN
4                          0              0                      NaN
...                      ...            ...                      ...
83827                      0              1                     69.0
83828                      0              0                      NaN
83829                      0              0                      NaN
83830                      0              0                      NaN
83831                      0              0                      NaN

       City Cluster   City               Zone
0             Cairo  Cairo        Mohandiseen
1             Cairo  Cairo  Cairo_city_centre
2             Cairo  Cairo     Tagamoa 5 east
3             Cairo  Cairo  Cairo_city_centre
4             Cairo  Cairo              Maadi
...             ...    ...                ...
83827         Cairo  Cairo            October
83828         Cairo  Cairo   Hadayek el qobba
83829         Cairo  Cairo         Heliopolis
83830         Cairo  Cairo         Tagammoa 5
83831         Cairo  Cairo             Helwan

[83832 rows x 31 columns]

18.	List the top 5 most recent orders based on order_time.

In [23]:
try:
    result_df = pd.read_sql('SELECT * FROM fct_order ORDER BY order_time DESC LIMIT 5', con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

    order_id          order_time  vendor_id    analytical_customer_id  \
0  644316835 2022-01-02 23:59:45     733019  no7BPkiah_Q6aFLZi2ugR4kQ
1  644316064 2022-01-02 23:58:07     715815  iI6rRPz2LkRi2Ct0zTaksrOA
2  644316048 2022-01-02 23:58:05     609342  COnO0tda5iSTa-t5dFFVTpwg
3  644315682 2022-01-02 23:57:25     614594  AYeFPGmOUyT4OIWfmTSCYikw
4  644315564 2022-01-02 23:57:08     732284  xdSbyNHiYORwiK2AHYieL5UQ

   is_acquisition  is_successful                  reason  \
0               0              1                    None
1               0              1                    None
2               0              0          ONLINE_PAYMENT
3               0              1                    None
4               0              0  CUSTOMER_MISTAKE_ERROR

                       sub_reason              owner delivery_arrangement  \
0                            None               None                  TGO
1                            None               None                  TGO
2                            None  CUSTOMER/PLATFORM                  TGO
3                            None               None                  TGO
4  Changed mind - Mistake / Error           CUSTOMER                  TGO

   ...  is_affordable_freedelivery  is_affordable_item  is_affordable_gem  \
0  ...                           0                   0                  0
1  ...                           0                   0                  0
2  ...                           0                   0                  0
3  ...                           0                   0                  0
4  ...                           0                   0                  0

  is_affordable_restaurant  is_affordable_voucher  is_affordable  \
0                        0                      0              0
1                        0                      0              0
2                        0                      0              0
3                        0                      0              0
4                        0                      0              0

   affordability_amt_total  City Cluster      City      Zone
0                     None         Delta     Tanta     Tanta
1                     None         Cairo     Cairo  Mokattam
2                     None         Cairo     Cairo   October
3                     None         Delta  Mansoura  Mansoura
4                     None         Cairo     Cairo   October

[5 rows x 31 columns]

19.	Find orders with a dropoff_distance_manhattan greater than 5 km.

In [24]:
try:
    query = "SELECT * FROM fct_order WHERE dropoff_distance_manhattan > 5"
    result_df = pd.read_sql(query, con=engine)
    
    print("Orders with dropoff_distance_manhattan greater than 5 km:")
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

Orders with dropoff_distance_manhattan greater than 5 km:
        order_id          order_time  vendor_id    analytical_customer_id  \
0      544145594 2021-09-01 10:41:53     609508  6zWSp9yqnEQuq4N6ykRgbbdQ
1      544478492 2021-09-01 18:17:52     602440  TtmFFw26sQR26nBE2RykhxQA
2      544358032 2021-09-01 15:56:56     709071  7pB4MC2aBPRdajLH2wPvIvAA
3      544366924 2021-09-01 16:09:09     607670  AFedsf0e-lSZer_X0eR4VE-g
4      544372362 2021-09-01 16:16:32     616421  JDYqF36aULSEaWsz604DuuRw
...          ...                 ...        ...                       ...
78253  644157626 2022-01-02 20:25:40     604899  QIAI_cMeM7Q3e50ZMq3FCptg
78254  643919264 2022-01-02 16:51:52     720260  r2CS00vmhrT0mDfdv-IYZU7w
78255  643523467 2022-01-02 02:35:57     740948  3Auj2_auGuS-uJ8TaPCKhaDA
78256  644245786 2022-01-02 22:02:53     724987  tVJ6VgNuvkRjuNU6NqEQ-Npg
78257  644278022 2022-01-02 22:48:27     755827  zurWapd20tR92D2Gdio2WLKA

       is_acquisition  is_successful reason sub_reason owner  \
0                   0              1   None       None  None
1                   0              1   None       None  None
2                   0              1   None       None  None
3                   0              1   None       None  None
4                   0              1   None       None  None
...               ...            ...    ...        ...   ...
78253               0              1   None       None  None
78254               0              1   None       None  None
78255               0              1   None       None  None
78256               0              1   None       None  None
78257               0              1   None       None  None

      delivery_arrangement  ...  is_affordable_freedelivery  \
0                      TGO  ...                           0
1                      TGO  ...                           0
2                      TGO  ...                           0
3                      TGO  ...                           0
4                      TGO  ...                           0
...                    ...  ...                         ...
78253                  TGO  ...                           0
78254                  TGO  ...                           0
78255                  TGO  ...                           0
78256                  TGO  ...                           0
78257                  TGO  ...                           0

       is_affordable_item  is_affordable_gem is_affordable_restaurant  \
0                       0                  0                        0
1                       0                  0                        0
2                       0                  0                        0
3                       0                  0                        0
4                       0                  0                        0
...                   ...                ...                      ...
78253                   0                  0                        0
78254                   0                  0                        0
78255                   0                  0                        0
78256                   0                  0                        0
78257                   0                  0                        0

       is_affordable_voucher  is_affordable  affordability_amt_total  \
0                          0              0                      NaN
1                          0              0                      NaN
2                          0              0                      NaN
3                          0              0                      NaN
4                          0              0                      NaN
...                      ...            ...                      ...
78253                      0              0                      NaN
78254                      0              0                      NaN
78255                      0              0                      NaN
78256                      0              0                      NaN
78257                      0              0                      NaN

       City Cluster        City               Zone
0             Cairo       Cairo        Mohandiseen
1             Cairo       Cairo  Cairo_city_centre
2             Cairo       Cairo     Tagamoa 5 east
3             Cairo       Cairo  Cairo_city_centre
4             Cairo       Cairo              Maadi
...             ...         ...                ...
78253         Delta     Zagazig            Zagazig
78254         Delta       Tanta              Tanta
78255          Alex  Alexandria    Alexandria west
78256         Delta       Tanta              Tanta
78257         Delta     Zagazig            Zagazig

[78258 rows x 31 columns]

20.	Select all vendors operating in a specific City Cluster (e.g., 'Cluster A').

In [25]:
try:
    result_df = pd.read_sql("SELECT * FROM fct_order WHERE `City Cluster` = 'Cairo'", con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

        order_id          order_time  vendor_id    analytical_customer_id  \
0      544145594 2021-09-01 10:41:53     609508  6zWSp9yqnEQuq4N6ykRgbbdQ
1      544478492 2021-09-01 18:17:52     602440  TtmFFw26sQR26nBE2RykhxQA
2      544358032 2021-09-01 15:56:56     709071  7pB4MC2aBPRdajLH2wPvIvAA
3      544366924 2021-09-01 16:09:09     607670  AFedsf0e-lSZer_X0eR4VE-g
4      544372362 2021-09-01 16:16:32     616421  JDYqF36aULSEaWsz604DuuRw
...          ...                 ...        ...                       ...
83827  643006405 2022-01-01 15:07:20     748065  MkKcitJe3YREeltsJI7DUXqA
83828  642783788 2022-01-01 09:50:45     604427  _B1YUyVOo-RLOoFMVCiTi-DQ
83829  642718374 2022-01-01 03:24:56     607605  yTrHLDAuhuScuiCHABzNUdWA
83830  642739962 2022-01-01 06:58:07     603674  jWIm4qj6vORl6B1ejy0EImDQ
83831  643105834 2022-01-01 17:01:47     602795  3zGv03US8BT-SpBHUAKVWmDQ

       is_acquisition  is_successful reason sub_reason owner  \
0                   0              1   None       None  None
1                   0              1   None       None  None
2                   0              1   None       None  None
3                   0              1   None       None  None
4                   0              1   None       None  None
...               ...            ...    ...        ...   ...
83827               0              1   None       None  None
83828               1              1   None       None  None
83829               0              1   None       None  None
83830               0              1   None       None  None
83831               1              1   None       None  None

      delivery_arrangement  ...  is_affordable_freedelivery  \
0                      TGO  ...                           0
1                      TGO  ...                           0
2                      TGO  ...                           0
3                      TGO  ...                           0
4                      TGO  ...                           0
...                    ...  ...                         ...
83827                  TMP  ...                           0
83828                  TMP  ...                           0
83829                  TMP  ...                           0
83830                  TMP  ...                           0
83831                  TMP  ...                           0

       is_affordable_item  is_affordable_gem is_affordable_restaurant  \
0                       0                  0                        0
1                       0                  0                        0
2                       0                  0                        0
3                       0                  0                        0
4                       0                  0                        0
...                   ...                ...                      ...
83827                   1                  0                        0
83828                   0                  0                        0
83829                   0                  0                        0
83830                   0                  0                        0
83831                   0                  0                        0

       is_affordable_voucher  is_affordable  affordability_amt_total  \
0                          0              0                      NaN
1                          0              0                      NaN
2                          0              0                      NaN
3                          0              0                      NaN
4                          0              0                      NaN
...                      ...            ...                      ...
83827                      0              1                     69.0
83828                      0              0                      NaN
83829                      0              0                      NaN
83830                      0              0                      NaN
83831                      0              0                      NaN

       City Cluster   City               Zone
0             Cairo  Cairo        Mohandiseen
1             Cairo  Cairo  Cairo_city_centre
2             Cairo  Cairo     Tagamoa 5 east
3             Cairo  Cairo  Cairo_city_centre
4             Cairo  Cairo              Maadi
...             ...    ...                ...
83827         Cairo  Cairo            October
83828         Cairo  Cairo   Hadayek el qobba
83829         Cairo  Cairo         Heliopolis
83830         Cairo  Cairo         Tagammoa 5
83831         Cairo  Cairo             Helwan

[83832 rows x 31 columns]

1.	Find the total gmv_amount_lc for each City.

In [26]:
try:
    query = "SELECT city, SUM(gmv_amount_lc) AS total_gmv_amount_lc FROM fct_order GROUP BY city"
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

                    city  total_gmv_amount_lc
0                  Cairo         1.219223e+07
1                  Tanta         3.857273e+05
2             Alexandria         2.249375e+06
3                Zagazig         1.621132e+05
4                 Assiut         1.516745e+05
5               Damietta         5.871630e+03
6               Mansoura         5.155947e+05
7                 Talkha         2.271940e+04
8   Al Mahallah Al Kubra         1.091236e+04
9               Ismailia         7.369746e+04
10          Damietta New         2.614277e+04
11             Port Said         2.821038e+05
12                 Banha         2.997557e+04
13              Hurghada         6.821320e+04
14             Damanhour         5.732765e+04
15                 Minya         5.917970e+03
16       Shebeen El Koom         1.145501e+04
17                  None         1.032377e+05
18                 Suhag         1.058199e+04
19           North Coast         1.102546e+04
20                  Suez         1.512902e+04
21            Ras El Bar         7.624112e+03
22              El Gouna         2.125000e+03

2.	Count the number of orders grouped by platform.

In [27]:
try:
    query = "SELECT platform, COUNT(*) AS total_orders FROM fct_order GROUP BY platform"
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

      platform  total_orders
0          iOS         56454
1      android         61864
2  desktop web           986
3   mobile web           581

3.	Find the average basket_amount_lc for each City Cluster.

In [28]:
try:
    query = "SELECT `City Cluster`, AVG(basket_amount_lc) AS avg_basket_amount_lc FROM fct_order GROUP BY `City Cluster`"
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

  City Cluster  avg_basket_amount_lc
0        Cairo            139.017206
1        Delta            105.738527
2         Alex            131.897312
3          ESM            114.618815
4         None            127.985542

4.	List the top 3 cities with the highest number of successful orders.

In [29]:
try:
    query = "SELECT city, COUNT(*) AS total_successful_orders FROM fct_order WHERE is_successful = 'SUCCESS' GROUP BY city ORDER BY total_successful_orders DESC LIMIT 3"
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

         city  total_successful_orders
0       Cairo                    13159
1  Alexandria                     2608
2    Mansoura                      834

5.	Join fct_order and dim_vendor to display the vendor name for each order.

In [30]:
try:
    query = "SELECT o.*, v.name_en AS vendor_name FROM fct_order o JOIN dim_vendor v ON o.vendor_id = v.vendor_id"
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

         order_id          order_time  vendor_id    analytical_customer_id  \
0       544145594 2021-09-01 10:41:53     609508  6zWSp9yqnEQuq4N6ykRgbbdQ
1       544358032 2021-09-01 15:56:56     709071  7pB4MC2aBPRdajLH2wPvIvAA
2       544366924 2021-09-01 16:09:09     607670  AFedsf0e-lSZer_X0eR4VE-g
3       544372362 2021-09-01 16:16:32     616421  JDYqF36aULSEaWsz604DuuRw
4       544467338 2021-09-01 18:06:40     735754  uJkW3IHmcxT5m8qhHNHLfIpg
...           ...                 ...        ...                       ...
118100  643323717 2022-01-01 20:36:36     614730  aZeGYy7SjvSaSNt47TGxHr6Q
118101  642691949 2022-01-01 01:33:14     602836  izLCkqz-46Ta-FMpzfgEle4Q
118102  642718374 2022-01-01 03:24:56     607605  yTrHLDAuhuScuiCHABzNUdWA
118103  643440356 2022-01-01 23:00:07     602778  RiSAcy9SUKT5SU_k9rWqVeug
118104  643105834 2022-01-01 17:01:47     602795  3zGv03US8BT-SpBHUAKVWmDQ

        is_acquisition  is_successful reason sub_reason owner  \
0                    0              1   None       None  None
1                    0              1   None       None  None
2                    0              1   None       None  None
3                    0              1   None       None  None
4                    0              1   None       None  None
...                ...            ...    ...        ...   ...
118100               1              1   None       None  None
118101               1              1   None       None  None
118102               0              1   None       None  None
118103               0              1   None       None  None
118104               1              1   None       None  None

       delivery_arrangement  ...  is_affordable_item  is_affordable_gem  \
0                       TGO  ...                   0                  0
1                       TGO  ...                   0                  0
2                       TGO  ...                   0                  0
3                       TGO  ...                   0                  0
4                       TGO  ...                   1                  0
...                     ...  ...                 ...                ...
118100                  TMP  ...                   0                  0
118101                  TMP  ...                   0                  0
118102                  TMP  ...                   0                  0
118103                  TMP  ...                   0                  0
118104                  TMP  ...                   0                  0

        is_affordable_restaurant is_affordable_voucher  is_affordable  \
0                              0                     0              0
1                              0                     0              0
2                              0                     0              0
3                              0                     0              0
4                              0                     0              1
...                          ...                   ...            ...
118100                         0                     0              0
118101                         0                     0              0
118102                         0                     0              0
118103                         0                     0              0
118104                         0                     0              0

        affordability_amt_total  City Cluster        City               Zone  \
0                           NaN         Cairo       Cairo        Mohandiseen
1                           NaN         Cairo       Cairo     Tagamoa 5 east
2                           NaN         Cairo       Cairo  Cairo_city_centre
3                           NaN         Cairo       Cairo              Maadi
4                          38.0         Cairo       Cairo              Maadi
...                         ...           ...         ...                ...
118100                      NaN         Cairo       Cairo       Sheikh zayed
118101                      NaN           ESM   Port Said      Portsaid city
118102                      NaN         Cairo       Cairo         Heliopolis
118103                      NaN          Alex  Alexandria    Alexandria west
118104                      NaN         Cairo       Cairo             Helwan

                                             vendor_name
0                                  Cilantro, Mohandiseen
1       El Shabrawy, Tagammoa 5 - South Investors Area 2
2                              Oldish, Downtown - Tahrir
3                        El Abd, New Maadi - El Basateen
4        Cabana Club, Maadi Corniche - El Salam Hospital
...                                                  ...
118100                        Beirut Express, dandy mall
118101                             Pizza Hut - Port Said
118102                             Hardee's, El Marghany
118103                                   KFC - Ibrahimia
118104                                      KFC - Helwan

[118105 rows x 32 columns]

6.	Calculate the total delivery fee collected for each vendor_id.

In [31]:
try:
    query = "SELECT vendor_id, SUM(delivery_fee_amount_lc) AS total_delivery_fee FROM fct_order GROUP BY vendor_id"
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

      vendor_id  total_delivery_fee
0        609508              417.70
1        602440              147.38
2        709071              174.76
3        607670               34.97
4        616421             1855.75
...         ...                 ...
6173     764905               14.99
6174     727528                4.99
6175     763405               14.99
6176     613928               15.00
6177     712120               10.00

[6178 rows x 2 columns]

7.	Identify the most common reason for unsuccessful orders.

In [32]:
try:
    query = "SELECT reason, COUNT(*) AS total_orders FROM fct_order WHERE is_successful = 'FAILED' GROUP BY reason ORDER BY total_orders DESC LIMIT 1"
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

           reason  total_orders
0  ONLINE_PAYMENT          7394

8.	Find the maximum gmv_amount_lc for each vertical_class.

In [33]:
try:
    query = "SELECT vertical_class, MAX(gmv_amount_lc) AS max_gmv_amount_lc FROM fct_order GROUP BY vertical_class"
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

  vertical_class  max_gmv_amount_lc
0           food            7109.99
1       non-food            4314.99

9.	Retrieve vendors who have processed orders with basket_amount_lc greater than 100.

In [34]:
try:
    query = "SELECT DISTINCT v.* FROM dim_vendor v JOIN fct_order o ON v.vendor_id = o.vendor_id WHERE o.basket_amount_lc > 100"
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

      vendor_id                                        name_en  \
0        609508                          Cilantro, Mohandiseen
1        607670                      Oldish, Downtown - Tahrir
2        748514                    Ez al Minofy, El Rehab City
3        735735                       ZANOBIA,Haram - El Ahram
4        724709  Yasmin Al Sham, 6th of October - 2nd District
...         ...                                            ...
4489     614741                     Choco Nut, City Stars Mall
4490     617010                            Papaya,Central Park
4491     762074                                    Porto crepe
4492     712120                       Rockets,Shobra El Kheima
4493     711161        Pizza P7p7,Hadaiq Al Qubbah - Al Hdayeq

       chain_name_en vertical_class vertical  main_cuisine
0           Cilantro           food     food  Coffee & Tea
1             Oldish           food     food       Italian
2       Ez Al Minofy           food     food    Sandwiches
3            ZANOBIA           food     food       Burgers
4     Yasmin Al Sham           food     food      Shawerma
...              ...            ...      ...           ...
4489       Choco Nut           food     food      Desserts
4490          Papaya           food     food     Beverages
4491     Porto Crepe           food     food        Crepes
4492         Rockets           food     food    Sandwiches
4493      Pizza P7p7           food     food         Pizza

[4494 rows x 6 columns]

10.	Find the number of successful and unsuccessful orders grouped by City.

In [35]:
try:
    query = "SELECT city, is_successful, COUNT(*) AS total_orders FROM fct_order GROUP BY city, is_successful"
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

                    city  is_successful  total_orders
0                  Cairo              1         70673
1                  Tanta              1          3766
2             Alexandria              1         13791
3                  Tanta              0           798
4                  Cairo              0         13159
5                Zagazig              0           444
6             Alexandria              0          2608
7                 Assiut              0           643
8               Damietta              0            12
9               Mansoura              0           834
10                Talkha              0            36
11  Al Mahallah Al Kubra              0            38
12              Ismailia              0            60
13          Damietta New              0            19
14             Port Said              0           632
15                 Banha              0            65
16              Hurghada              0            66
17             Damanhour              0            89
18                 Minya              0             4
19       Shebeen El Koom              0            18
20                  None              0           121
21                 Suhag              0            29
22           North Coast              0             5
23               Zagazig              1          1545
24              Mansoura              1          4166
25                Talkha              1           199
26                 Minya              1            58
27                 Banha              1           223
28  Al Mahallah Al Kubra              1            84
29              Ismailia              1           554
30                Assiut              1          1259
31             Port Said              1          1822
32                  None              1           610
33       Shebeen El Koom              1           117
34             Damanhour              1           352
35                 Suhag              1           104
36          Damietta New              1           192
37           North Coast              1            27
38              Hurghada              1           379
39                  Suez              1           122
40              Damietta              1            64
41                  Suez              0            28
42            Ras El Bar              1            58
43              El Gouna              1             4
44            Ras El Bar              0             7
45              El Gouna              0             1

11.	List vendors whose main_cuisine appears in more than 3 orders.

In [36]:
try:
    query = """
    SELECT v.vendor_id, v.name_en, v.main_cuisine, COUNT(o.order_id) AS order_count
    FROM dim_vendor v
    JOIN fct_order o ON v.vendor_id = o.vendor_id
    GROUP BY v.vendor_id, v.name_en, v.main_cuisine
    HAVING COUNT(o.order_id) > 3
    ORDER BY order_count DESC
    """
    result_df = pd.read_sql(query, con=engine)
    print("Vendors whose main_cuisine appears in more than 3 orders:")
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

Vendors whose main_cuisine appears in more than 3 orders:
      vendor_id                                       name_en  \
0        719908          talabat mart, Nasr City - El Tayaran
1        744902         talabat mart,Madinaty - Sporting Club
2        720071       talabat mart, Tagammoa 5 - Banks Center
3        718588   talabat mart, 6th of October - 4th District
4        713239                   talabat mart, El Rehab City
...         ...                                           ...
3968     762726  Mahmaset Mofeed,  Al Galaa-Sidi Besher Qebly
3969     763024                       El Halaby, El Namies St
3970     762662                      Moods, Assiut University
3971     617010                           Papaya,Central Park
3972     764654    Burger King, Tagammoa 5 - Banafseg 1,2,3,4

            main_cuisine  order_count
0                Grocery          708
1                Grocery          675
2                Grocery          646
3                Grocery          640
4                Grocery          635
...                  ...          ...
3968  Nuts & Dried Fruit            4
3969            Shawerma            4
3970          Sandwiches            4
3971           Beverages            4
3972             Burgers            4

[3973 rows x 4 columns]

12.	Retrieve the vendor names for orders with delays greater than 15 minutes.

In [37]:
try:
    query = "SELECT v.name_en FROM dim_vendor v JOIN fct_order o ON v.vendor_id = o.vendor_id WHERE o.order_delay > 15"
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

                                                name_en
0                                 Cilantro, Mohandiseen
1      El Shabrawy, Tagammoa 5 - South Investors Area 2
2                             Oldish, Downtown - Tahrir
3       Cabana Club, Maadi Corniche - El Salam Hospital
4                           Ez al Minofy, El Rehab City
...                                                 ...
22222                     Portobello Lounge - Port Said
22223            McDonald's - Suez Canal st. - Mansoura
22224                          Heart Attack, El Mashaya
22225                          Suez fish,Gharb El Balad
22226                                       Porto crepe

[22227 rows x 1 columns]

13.	Find the total affordability_amt_total for each platform.

In [38]:
# 13.	Find the total affordability_amt_total for each platform.
try:
    query = "SELECT platform, SUM(affordability_amt_total) AS total_affordability_amt_total FROM fct_order GROUP BY platform"
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

      platform  total_affordability_amt_total
0          iOS                   6.427894e+05
1      android                   1.096293e+06
2  desktop web                   9.201154e+03
3   mobile web                   5.007668e+03

14.	Calculate the average dropoff_distance_manhattan for orders in each Zone.

In [39]:
# 14.	Calculate the average dropoff_distance_manhattan for orders in each Zone.
try:
    query = "SELECT Zone, AVG (dropoff_distance_manhattan) AS avg_dropoff_distance_manhattan FROM fct_order GROUP BY Zone"      
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

                 Zone  avg_dropoff_distance_manhattan
0         Mohandiseen                     1530.003368
1   Cairo_city_centre                     1734.333215
2      Tagamoa 5 east                     2218.209540
3               Maadi                     1491.409137
4          Tagammoa 5                     2125.078938
..                ...                             ...
56          West Golf                             NaN
57           Al Safaa                             NaN
58          El Marina                             NaN
59           Downtown                             NaN
60   Manshayt Mubarak                             NaN

[61 rows x 2 columns]

15.	List vendors operating in the 'Food' vertical but not in the 'Chain' vertical class.

In [40]:
try:
    query = "SELECT * FROM dim_vendor WHERE vertical = 'Food' AND vertical_class != 'Chain'"
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

      vendor_id                                        name_en  \
0        738143            Nutella Waffel 2,Faisal - Kom Bakar
1        742299  Waffle Maker, Dokki - Mohy El Din Abou El Ezz
2        740938                            Koshary Faisal,Giza
3        751673      Koshary w Tawajin Moamen, Al Bahr Al Azam
4        763259        Koshary Helmeya Hend, Imbabah - Bashtil
...         ...                                            ...
5561     617963                        Karcar,Haram - Mariotia
5562     732140                   Friito,Mohandesin - Mit Okba
5563     757524    CHAMP`S,6th of October - El Hay El Motamyez
5564     763863            T-Rex,6th of October - 1st District
5565     749881                                     Slice,Glim

                 chain_name_en vertical_class vertical main_cuisine
0             Nutella Waffel 2           food     food      Waffles
1                 Waffle Maker           food     food      Waffles
2               Koshary Faisal           food     food      Koshary
3     Koshary w Tawajin Moamen           food     food      Koshary
4         Koshary Halwani Hend           food     food      Koshary
...                        ...            ...      ...          ...
5561                    Karcar           food     food   Sandwiches
5562                    Friito           food     food   Sandwiches
5563                   CHAMP`S           food     food   Sandwiches
5564                     T-Rex           food     food   Sandwiches
5565                     SLICE           food     food   Sandwiches

[5566 rows x 6 columns]

16.	Use a subquery to find vendors with the highest average basket_amount_lc.

In [41]:
try:
    query = """
        SELECT v.vendor_id, v.name_en, v.main_cuisine, subquery.avg_basket_amount_lc 
        FROM (
            SELECT vendor_id, AVG(basket_amount_lc) AS avg_basket_amount_lc
            FROM fct_order 
            GROUP BY vendor_id
        ) AS subquery
        JOIN dim_vendor v ON subquery.vendor_id = v.vendor_id
        ORDER BY subquery.avg_basket_amount_lc DESC 
        LIMIT 1;
    """
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:  
    print(f"Error during data retrieval: {e}")

   vendor_id                      name_en main_cuisine  avg_basket_amount_lc
0     618250  Samsung, Sidi Besher Bahary  Electronics                3699.6

17.	Retrieve all orders where the vendor's main_cuisine matches the order's vertical.

In [42]:
try:
    query = """
    SELECT o.*, v.main_cuisine
    FROM fct_order o
    JOIN dim_vendor v ON o.vendor_id = v.vendor_id
    WHERE o.vertical = v.main_cuisine
    """
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:  
    print(f"Error during data retrieval: {e}")

        order_id          order_time  vendor_id    analytical_customer_id  \
0      545316452 2021-09-02 18:58:20     725528  pJDVoRMmQySWmYYjMOpn-FDQ
1      546843321 2021-09-04 17:13:00     713185  pJDVoRMmQySWmYYjMOpn-FDQ
2      545555554 2021-09-02 23:08:34     713071  0o6ohQ9ilXQQiXLo93-f3FnA
3      547180321 2021-09-04 23:41:29     725763  EZUgdEa-VQRs-nIoa2M2LJfw
4      548695599 2021-09-06 23:39:25     713744  8acld_WWq0SvWbOHW5KXIVzw
...          ...                 ...        ...                       ...
13595  643390845 2022-01-01 21:51:54     714051  FNH3v7tucCT6ugzMtrNR80tw
13596  643048108 2022-01-01 15:58:08     713132  PvaJGLkOtqQ4OOTekP4H6xDA
13597  644132548 2022-01-02 20:02:11     714051  usykLgzu14SyuSffzG4XbFLw
13598  643831761 2022-01-02 15:15:42     708599  jzlF1kS-GcTR-cH5SbaATvsg
13599  643617259 2022-01-02 10:25:08     743668  5v6buYMKDlS9KFBqMd_dJiuw

       is_acquisition  is_successful                  reason  \
0                   0              0      VENDOR_UNREACHABLE
1                   0              0        ITEM_UNAVAILABLE
2                   0              0      VENDOR_UNREACHABLE
3                   0              0  CUSTOMER_MISTAKE_ERROR
4                   0              0        ITEM_UNAVAILABLE
...               ...            ...                     ...
13595               0              1                    None
13596               0              1                    None
13597               0              1                    None
13598               0              1                    None
13599               0              1                    None

                           sub_reason     owner delivery_arrangement  ...  \
0                                None    VENDOR                  TGO  ...
1                                None    VENDOR                  TGO  ...
2                                None    VENDOR                  TGO  ...
3      Changed mind - Mistake / Error  CUSTOMER                  TGO  ...
4                                None    VENDOR                  TGO  ...
...                               ...       ...                  ...  ...
13595                            None      None                  TGO  ...
13596                            None      None                  TGO  ...
13597                            None      None                  TGO  ...
13598                            None      None                  TGO  ...
13599                            None      None                  TGO  ...

       is_affordable_item  is_affordable_gem  is_affordable_restaurant  \
0                       0                  0                         0
1                       0                  0                         0
2                       0                  0                         0
3                       0                  0                         0
4                       0                  0                         0
...                   ...                ...                       ...
13595                   0                  0                         0
13596                   0                  0                         0
13597                   0                  0                         0
13598                   0                  0                         0
13599                   0                  0                         0

      is_affordable_voucher  is_affordable  affordability_amt_total  \
0                         1              0                      NaN
1                         1              0                      NaN
2                         1              1                      NaN
3                         0              0                      NaN
4                         0              0                      NaN
...                     ...            ...                      ...
13595                     0              0                      NaN
13596                     0              0                      NaN
13597                     0              0                      NaN
13598                     0              0                      NaN
13599                     0              0                      NaN

       City Cluster       City              Zone main_cuisine
0             Cairo      Cairo           October      Grocery
1             Cairo      Cairo           October      Grocery
2             Delta      Tanta             Tanta      Grocery
3             Cairo      Cairo             Maadi      Grocery
4             Cairo      Cairo         Nasr city     Pharmacy
...             ...        ...               ...          ...
13595           ESM  Port Said     Portsaid city      Grocery
13596         Cairo      Cairo  Hadayek el qobba      Grocery
13597           ESM  Port Said     Portsaid city      Grocery
13598           ESM  Port Said     Portsaid city      Grocery
13599         Cairo      Cairo             Maadi      Grocery

[13600 rows x 32 columns]

18.	Find the percentage of orders with is_affordable_freedelivery grouped by City.

In [43]:
try:
    query = "SELECT city, SUM(is_affordable_freedelivery) / COUNT(*) * 100 AS percentage_orders FROM fct_order GROUP BY city"
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

                    city  percentage_orders
0                  Cairo             8.0375
1                  Tanta            16.7835
2             Alexandria             7.8358
3                Zagazig            40.8748
4                 Assiut            18.5068
5               Damietta            15.7895
6               Mansoura            13.7000
7                 Talkha            12.3404
8   Al Mahallah Al Kubra            42.6230
9               Ismailia            17.2638
10          Damietta New            28.9100
11             Port Said            21.6381
12                 Banha            36.4583
13              Hurghada            22.2472
14             Damanhour            19.5011
15                 Minya             9.6774
16       Shebeen El Koom            48.8889
17                  None            11.3543
18                 Suhag            34.5865
19           North Coast             0.0000
20                  Suez            29.3333
21            Ras El Bar            29.2308
22              El Gouna             0.0000

19.	List the cities with more than 100 orders.

In [44]:
try:
    query = "SELECT city, COUNT(*) AS total_orders FROM fct_order GROUP BY city HAVING COUNT(*) > 100"
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

                    city  total_orders
0                  Cairo         83832
1                  Tanta          4564
2             Alexandria         16399
3                Zagazig          1989
4                 Assiut          1902
5               Mansoura          5000
6                 Talkha           235
7   Al Mahallah Al Kubra           122
8               Ismailia           614
9           Damietta New           211
10             Port Said          2454
11                 Banha           288
12              Hurghada           445
13             Damanhour           441
14       Shebeen El Koom           135
15                  None           731
16                 Suhag           133
17                  Suez           150

20.	Rank the cities by their total gmv_amount_lc in descending order.

In [45]:
try:
    query = "SELECT city, SUM(gmv_amount_lc) AS total_gmv_amount_lc FROM fct_order GROUP BY city ORDER BY total_gmv_amount_lc DESC"
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

                    city  total_gmv_amount_lc
0                  Cairo         1.219223e+07
1             Alexandria         2.249375e+06
2               Mansoura         5.155947e+05
3                  Tanta         3.857273e+05
4              Port Said         2.821038e+05
5                Zagazig         1.621132e+05
6                 Assiut         1.516745e+05
7                   None         1.032377e+05
8               Ismailia         7.369746e+04
9               Hurghada         6.821320e+04
10             Damanhour         5.732765e+04
11                 Banha         2.997557e+04
12          Damietta New         2.614277e+04
13                Talkha         2.271940e+04
14                  Suez         1.512902e+04
15       Shebeen El Koom         1.145501e+04
16           North Coast         1.102546e+04
17  Al Mahallah Al Kubra         1.091236e+04
18                 Suhag         1.058199e+04
19            Ras El Bar         7.624112e+03
20                 Minya         5.917970e+03
21              Damietta         5.871630e+03
22              El Gouna         2.125000e+03

# Advanced SQL Queries

1.	Write a query to rank vendors by their total number of orders using window functions.

In [46]:
try:
    query = """
    SELECT o.vendor_id, v.name_en, v.main_cuisine, 
           COUNT(*) AS total_orders,
           RANK() OVER (ORDER BY COUNT(*) DESC) AS order_rank
    FROM fct_order o
    JOIN dim_vendor v ON o.vendor_id = v.vendor_id
    GROUP BY o.vendor_id, v.name_en, v.main_cuisine;
    """
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

      vendor_id                                            name_en  \
0        719908               talabat mart, Nasr City - El Tayaran
1        744902              talabat mart,Madinaty - Sporting Club
2        720071            talabat mart, Tagammoa 5 - Banks Center
3        718588        talabat mart, 6th of October - 4th District
4        713239                        talabat mart, El Rehab City
...         ...                                                ...
5376     761934                           Hunger Station, El Rehab
5377     613535  Zaher Patisserie & Dairy, Heliopolis - Hegaz S...
5378     735598                            Bl Wahda, El Rehab City
5379     727528  Bon Abd El Ma3bod - Asrar El Bon, Mokattam - E...
5380     712120                           Rockets,Shobra El Kheima

          main_cuisine  total_orders  order_rank
0              Grocery           708           1
1              Grocery           675           2
2              Grocery           646           3
3              Grocery           640           4
4              Grocery           635           5
...                ...           ...         ...
5376           Burgers             1        4791
5377          Desserts             1        4791
5378  Speciality Store             1        4791
5379      Coffee & Tea             1        4791
5380        Sandwiches             1        4791

[5381 rows x 5 columns]

2.	Use a Common Table Expression (CTE) to calculate the average order delay for each city.

In [47]:
try:
    query = """
    WITH cte AS (
        SELECT city, AVG(order_delay) AS avg_order_delay
        FROM fct_order
        GROUP BY city
    )
    SELECT * FROM cte;
    """
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

                    city  avg_order_delay
0                  Cairo      -184.406725
1                  Tanta      -177.597582
2             Alexandria      -166.808794
3                Zagazig      -266.754483
4                 Assiut      -235.105159
5               Damietta        43.540984
6               Mansoura      -146.131758
7                 Talkha      -186.742268
8   Al Mahallah Al Kubra      -246.631579
9               Ismailia      -191.667331
10          Damietta New      -149.565517
11             Port Said      -217.838143
12                 Banha      -199.353846
13              Hurghada      -259.374150
14             Damanhour      -182.748538
15                 Minya      -364.044444
16       Shebeen El Koom      -203.781818
17                  None      -101.157783
18                 Suhag        53.064103
19           North Coast              NaN
20                  Suez        14.450000
21            Ras El Bar       -48.775000
22              El Gouna              NaN

3.	Identify the vendor with the highest average gmv_amount_lc for each city.

In [48]:
try:
    query = """
    SELECT city, vendor_id, AVG(gmv_amount_lc) AS avg_gmv_amount_lc
    FROM fct_order
    GROUP BY city, vendor_id
    HAVING AVG(gmv_amount_lc) = (
        SELECT MAX(avg_gmv_amount_lc)
        FROM (
            SELECT city, vendor_id, AVG(gmv_amount_lc) AS avg_gmv_amount_lc
            FROM fct_order
            GROUP BY city, vendor_id
        ) AS subquery
        WHERE subquery.city = city
    )
    """
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

         city  vendor_id  avg_gmv_amount_lc
0  Alexandria     618250            3714.59

4.	Calculate the cumulative gmv_amount_lc for each platform using a window function.

In [49]:
try:
    query = """
    SELECT platform, gmv_amount_lc,
           SUM(gmv_amount_lc) OVER (PARTITION BY platform ORDER BY order_time) AS cumulative_gmv_amount_lc
    FROM fct_order
    """
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

          platform  gmv_amount_lc  cumulative_gmv_amount_lc
0          android          67.43                    67.430
1          android          53.50                   120.930
2          android         100.99                   221.920
3          android          55.99                   277.910
4          android         174.99                   452.900
...            ...            ...                       ...
119880  mobile web          37.25                 85540.958
119881  mobile web          64.20                 85605.158
119882  mobile web         317.00                 85922.158
119883  mobile web          42.98                 85965.138
119884  mobile web          54.99                 86020.128

[119885 rows x 3 columns]

5.	Use a subquery to find vendors whose average delivery fee is above the overall average.

In [50]:
try:
    query = """
    SELECT v.vendor_id, v.name_en, subquery.avg_delivery_fee
    FROM (
        SELECT vendor_id, AVG(delivery_fee_amount_lc) AS avg_delivery_fee
        FROM fct_order
        GROUP BY vendor_id
    ) AS subquery
    JOIN dim_vendor v ON subquery.vendor_id = v.vendor_id
    WHERE subquery.avg_delivery_fee > (
        SELECT AVG(delivery_fee_amount_lc) 
        FROM fct_order
    );
    """
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

      vendor_id                                        name_en  \
0        742299  Waffle Maker, Dokki - Mohy El Din Abou El Ezz
1        757632                   Koshary El-Zaaem, Tagammoa 1
2        612856                   Koshary El Za3im, El Zeitoun
3        758531                      Koushari Hend,Mohandiseen
4        708557                 Koshary Hend, Cairo - Abbasiya
...         ...                                            ...
2659     761773                              El Chef,El Seyouf
2660     744118                Eat Out,Downtown - Talaat Harab
2661     757524    CHAMP`S,6th of October - El Hay El Motamyez
2662     763863            T-Rex,6th of October - 1st District
2663     749881                                     Slice,Glim

      avg_delivery_fee
0            14.656667
1            12.490000
2            13.885455
3            13.260769
4            12.023529
...                ...
2659         17.490000
2660         12.490000
2661         14.573333
2662         12.490000
2663         12.491000

[2664 rows x 3 columns]

6.	Retrieve the top 5 vendors with the largest basket_amount_lc across all cities.

In [51]:
try:
    query = """
    SELECT o.vendor_id, v.name_en, MAX(o.basket_amount_lc) AS max_basket_amount_lc
    FROM fct_order o
    JOIN dim_vendor v ON o.vendor_id = v.vendor_id
    GROUP BY o.vendor_id, v.name_en
    ORDER BY max_basket_amount_lc DESC
    LIMIT 5;
    """
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

   vendor_id                                            name_en  \
0     732634                 El Abd - Tagammoa 5 - Banks Center
1     603618                 Abou Fares Elsoury, Moustafa Kamel
2     618250                        Samsung, Sidi Besher Bahary
3     750330                 talabat mart, Miami - Arab Academy
4     748269  Abdel Rahim Koueider, Mohandesin - Jazerat El ...

   max_basket_amount_lc
0               7100.00
1               6270.00
2               4300.00
3               3505.69
4               3500.00

7.	Calculate the median dropoff_distance_manhattan for orders in each city.

In [52]:
try:
    query = """
    WITH ordered_data AS (
        SELECT 
            City, 
            dropoff_distance_manhattan,
            ROW_NUMBER() OVER (PARTITION BY City ORDER BY dropoff_distance_manhattan) AS row_num,
            COUNT(*) OVER (PARTITION BY City) AS total_rows
        FROM fct_order
    )
    SELECT City, 
           AVG(dropoff_distance_manhattan) AS median_dropoff_distance_manhattan
    FROM ordered_data
    WHERE row_num IN (FLOOR((total_rows + 1) / 2), CEIL((total_rows + 1) / 2))
    GROUP BY City;
    """
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

                    City  median_dropoff_distance_manhattan
0                   None                             1094.0
1   Al Mahallah Al Kubra                                8.5
2             Alexandria                             1043.0
3                 Assiut                              427.0
4                  Banha                              670.0
5                  Cairo                              758.0
6              Damanhour                                NaN
7               Damietta                             1526.0
8           Damietta New                             1207.0
9               El Gouna                                NaN
10              Hurghada                              809.0
11              Ismailia                             1709.0
12              Mansoura                             1172.0
13                 Minya                             1487.5
14           North Coast                                NaN
15             Port Said                             1188.0
16            Ras El Bar                              545.0
17       Shebeen El Koom                             1136.0
18                  Suez                              543.5
19                 Suhag                              732.0
20                Talkha                             2762.0
21                 Tanta                             1141.0
22               Zagazig                              960.0

8.	Write a query to display vendors who have processed more than 500 orders in total.

In [53]:
try:
    query = """
    SELECT vendor_id, COUNT(*) AS total_orders
    FROM fct_order
    GROUP BY vendor_id
    HAVING COUNT(*) > 500
    """
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

   vendor_id  total_orders
0     718588           640
1     720071           646
2     713239           635
3     744902           675
4     719908           708
5     719902           590

9.	Use a window function to calculate the running total of orders for each City Cluster.

In [54]:
try:
    query = """
    SELECT order_id, city, `City Cluster`, 
           SUM(order_id) OVER (PARTITION BY `City Cluster` ORDER BY order_time) AS running_total_orders
    FROM fct_order
    """
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

         order_id                  city City Cluster  running_total_orders
0       543997467                  None         None          5.439975e+08
1       544298164       Shebeen El Koom         None          1.088296e+09
2       544567658                  None         None          1.632863e+09
3       544648621                  None         None          2.177512e+09
4       544725154  Al Mahallah Al Kubra         None          2.722237e+09
...           ...                   ...          ...                   ...
119880  644304689             Port Said          ESM          3.336487e+12
119881  644304881                Assiut          ESM          3.337131e+12
119882  644305494                Assiut          ESM          3.337775e+12
119883  644308407                Assiut          ESM          3.338419e+12
119884  644311614             Port Said          ESM          3.339064e+12

[119885 rows x 4 columns]

10.	Identify the top 3 most frequently occurring reasons for order failures.

In [55]:
try:
    query = "SELECT reason, COUNT(*) AS total_orders FROM fct_order WHERE is_successful = 'FAILED' GROUP BY reason ORDER BY total_orders DESC LIMIT 3"
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

                   reason  total_orders
0          ONLINE_PAYMENT          7394
1  CUSTOMER_MISTAKE_ERROR          6161
2             FRAUD_PRANK          2096

11.	Find vendors whose orders have the shortest average delivery times.

In [56]:
try:
    query = """
    SELECT vendor_id, AVG(order_delay) AS avg_order_delay
    FROM fct_order
    GROUP BY vendor_id
    ORDER BY avg_order_delay ASC
    LIMIT 5
    """
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

   vendor_id avg_order_delay
0     751506            None
1     609770            None
2     725250            None
3     739616            None
4     712120            None

12.	Calculate the average affordability_amt_total grouped by vertical_class and City.

In [57]:
try:
    query = "SELECT vertical_class, city, AVG(affordability_amt_total) AS avg_affordability_amt_total FROM fct_order GROUP BY vertical_class, city"
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

   vertical_class                  city  avg_affordability_amt_total
0            food                 Cairo                    58.682711
1            food                 Tanta                    59.850732
2            food            Alexandria                    66.329225
3        non-food                 Cairo                    31.110634
4            food               Zagazig                    47.580963
5            food                Assiut                    46.209250
6            food              Damietta                    43.848387
7        non-food              Mansoura                    40.493683
8        non-food                 Tanta                    51.115586
9        non-food                Talkha                    54.914667
10           food              Mansoura                    58.967548
11       non-food  Al Mahallah Al Kubra                    42.636364
12           food              Ismailia                    50.884857
13           food          Damietta New                    43.151695
14           food             Port Said                    50.188898
15           food                 Banha                    54.275190
16           food              Hurghada                    53.328593
17           food             Damanhour                    56.457457
18           food                 Minya                    51.899857
19           food       Shebeen El Koom                    63.439298
20           food                  None                    53.607004
21       non-food              Ismailia                    45.496000
22       non-food            Alexandria                    37.417099
23           food                Talkha                    57.528256
24           food                 Suhag                    51.457627
25           food           North Coast                    68.076446
26           food  Al Mahallah Al Kubra                    55.560976
27       non-food             Port Said                    46.734138
28       non-food               Zagazig                    46.128375
29       non-food                  None                    29.736410
30           food                  Suez                    62.623793
31       non-food       Shebeen El Koom                    45.000000
32       non-food                 Banha                    22.300000
33       non-food                  Suez                    49.299400
34       non-food                Assiut                    56.250000
35       non-food             Damanhour                          NaN
36           food            Ras El Bar                    50.149082
37           food              El Gouna                    20.000000
38       non-food              Damietta                    44.833000

13.	Write a query to determine the percentage of total orders contributed by each platform.

In [58]:
try:
    query = "SELECT platform, COUNT(*) / (SELECT COUNT(*) FROM fct_order) * 100 AS percentage_orders FROM fct_order GROUP BY platform"
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:  
    print(f"Error during data retrieval: {e}")

      platform  percentage_orders
0          iOS            47.0901
1      android            51.6028
2  desktop web             0.8225
3   mobile web             0.4846

14.	Identify vendors with more than 90% successful orders.

In [59]:
try:
    query = """
    SELECT 
        o.vendor_id, 
        v.name_en, 
        SUM(CASE WHEN o.is_successful = 1 THEN 1 ELSE 0 END) / COUNT(o.order_id) * 100 AS success_rate
    FROM fct_order o
    JOIN dim_vendor v ON o.vendor_id = v.vendor_id
    GROUP BY o.vendor_id, v.name_en
    HAVING success_rate > 90;
    """
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

      vendor_id                                            name_en  \
0        607670                          Oldish, Downtown - Tahrir
1        735754    Cabana Club, Maadi Corniche - El Salam Hospital
2        748514                        Ez al Minofy, El Rehab City
3        735735                           ZANOBIA,Haram - El Ahram
4        718825                      mr shrimpo,Sidi Besher Bahary
...         ...                                                ...
2336     613535  Zaher Patisserie & Dairy, Heliopolis - Hegaz S...
2337     735598                            Bl Wahda, El Rehab City
2338     762586                    Batates And Zalabya, El Mashaya
2339     727528  Bon Abd El Ma3bod - Asrar El Bon, Mokattam - E...
2340     712120                           Rockets,Shobra El Kheima

      success_rate
0         100.0000
1         100.0000
2          94.4444
3         100.0000
4         100.0000
...            ...
2336      100.0000
2337      100.0000
2338      100.0000
2339      100.0000
2340      100.0000

[2341 rows x 3 columns]

15.	Retrieve the city with the highest number of affordable orders.

In [60]:
try:
    query = "SELECT city, COUNT(*) AS total_affordable_orders FROM fct_order WHERE is_affordable = 1 GROUP BY city ORDER BY total_affordable_orders DESC LIMIT 1"
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

    city  total_affordable_orders
0  Cairo                    25126

16.	Use a CTE to analyze vertical trends across different platforms.

In [61]:
try:
    query = """
    WITH vertical_trends AS (
        SELECT platform, vertical, COUNT(*) AS total_orders
        FROM fct_order
        GROUP BY platform, vertical
    )
    SELECT platform, vertical, total_orders
    FROM vertical_trends
    ORDER BY platform, total_orders DESC;
    """
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

       platform     vertical  total_orders
0       android         food         53881
1       android      grocery          7911
2       android     pharmacy            28
3       android  electronics            16
4       android    cosmetics            15
5       android     pet shop            12
6       android      flowers             1
7   desktop web         food           938
8   desktop web      grocery            46
9   desktop web     pet shop             1
10  desktop web     pharmacy             1
11          iOS         food         49696
12          iOS      grocery          6674
13          iOS     pharmacy            57
14          iOS    cosmetics            12
15          iOS  electronics            11
16          iOS     pet shop             3
17          iOS      flowers             1
18   mobile web         food           542
19   mobile web      grocery            39

17.	Find the vendor_id with the longest average order_delay.

In [62]:
try:
    query = """
    SELECT vendor_id, AVG(order_delay) AS avg_order_delay
    FROM fct_order
    GROUP BY vendor_id
    ORDER BY avg_order_delay DESC
    LIMIT 1
    """
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

   vendor_id  avg_order_delay
0     721060           6865.0

18.	Calculate the difference between the promised and actual delivery times for all orders.

In [63]:
try:
    query = "SELECT order_id, promised_delivery_time, actual_delivery_time, actual_delivery_time - promised_delivery_time AS delivery_time_difference FROM fct_order"
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

         order_id  promised_delivery_time  actual_delivery_time  \
0       544145594                  1739.0                1896.0
1       544478492                  2159.0                3506.0
2       544358032                  2159.0                3357.0
3       544366924                  2519.0                3237.0
4       544372362                  1499.0                1216.0
...           ...                     ...                   ...
119880  642783788                     NaN                   NaN
119881  642718374                     NaN                   NaN
119882  642739962                     NaN                   NaN
119883  643440356                     NaN                   NaN
119884  643105834                     NaN                   NaN

        delivery_time_difference
0                          157.0
1                         1347.0
2                         1198.0
3                          718.0
4                         -283.0
...                          ...
119880                       NaN
119881                       NaN
119882                       NaN
119883                       NaN
119884                       NaN

[119885 rows x 4 columns]

19.	Create a query to display vendors with no orders in the last 30 days.

In [64]:
try:
    query = """
    SELECT v.vendor_id, v.name_en
    FROM dim_vendor v
    LEFT JOIN fct_order o ON v.vendor_id = o.vendor_id
    WHERE o.order_time IS NULL OR o.order_time < DATE_SUB(CURDATE(), INTERVAL 30 DAY)
    """
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

        vendor_id                                        name_en
0          747955  Koshary El Haref, Mokattam - Qatameya Gardens
1          708557                 Koshary Hend, Cairo - Abbasiya
2          708557                 Koshary Hend, Cairo - Abbasiya
3          714857       EL-Zaiem, Nasr City - El Wafaa W El Amal
4          749755                               Soy Wok, Semouha
...           ...                                            ...
118870     748820    Habib Nasr City, Nasr City - Zaker Huessein
118871     748820    Habib Nasr City, Nasr City - Zaker Huessein
118872     748820    Habib Nasr City, Nasr City - Zaker Huessein
118873     748820    Habib Nasr City, Nasr City - Zaker Huessein
118874     748820    Habib Nasr City, Nasr City - Zaker Huessein

[118875 rows x 2 columns]

20.	Write a query to find orders where the vendor's main_cuisine is not aligned with the vertical.

In [65]:
try:
    query = """
    SELECT o.*, v.main_cuisine
    FROM fct_order o
    JOIN dim_vendor v ON o.vendor_id = v.vendor_id
    WHERE o.vertical != v.main_cuisine
    """
    result_df = pd.read_sql(query, con=engine)
    print(result_df)
except Exception as e:
    print(f"Error during data retrieval: {e}")

         order_id          order_time  vendor_id    analytical_customer_id  \
0       544145594 2021-09-01 10:41:53     609508  6zWSp9yqnEQuq4N6ykRgbbdQ
1       544358032 2021-09-01 15:56:56     709071  7pB4MC2aBPRdajLH2wPvIvAA
2       544366924 2021-09-01 16:09:09     607670  AFedsf0e-lSZer_X0eR4VE-g
3       544372362 2021-09-01 16:16:32     616421  JDYqF36aULSEaWsz604DuuRw
4       544467338 2021-09-01 18:06:40     735754  uJkW3IHmcxT5m8qhHNHLfIpg
...           ...                 ...        ...                       ...
104500  643234018 2022-01-01 19:02:12     611076  _J3FHnweOvRxeEGewJt-FI4g
104501  642691949 2022-01-01 01:33:14     602836  izLCkqz-46Ta-FMpzfgEle4Q
104502  642718374 2022-01-01 03:24:56     607605  yTrHLDAuhuScuiCHABzNUdWA
104503  643440356 2022-01-01 23:00:07     602778  RiSAcy9SUKT5SU_k9rWqVeug
104504  643105834 2022-01-01 17:01:47     602795  3zGv03US8BT-SpBHUAKVWmDQ

        is_acquisition  is_successful reason sub_reason owner  \
0                    0              1   None       None  None
1                    0              1   None       None  None
2                    0              1   None       None  None
3                    0              1   None       None  None
4                    0              1   None       None  None
...                ...            ...    ...        ...   ...
104500               1              1   None       None  None
104501               1              1   None       None  None
104502               0              1   None       None  None
104503               0              1   None       None  None
104504               1              1   None       None  None

       delivery_arrangement  ...  is_affordable_item  is_affordable_gem  \
0                       TGO  ...                   0                  0
1                       TGO  ...                   0                  0
2                       TGO  ...                   0                  0
3                       TGO  ...                   0                  0
4                       TGO  ...                   1                  0
...                     ...  ...                 ...                ...
104500                  TMP  ...                   0                  0
104501                  TMP  ...                   0                  0
104502                  TMP  ...                   0                  0
104503                  TMP  ...                   0                  0
104504                  TMP  ...                   0                  0

        is_affordable_restaurant is_affordable_voucher  is_affordable  \
0                              0                     0              0
1                              0                     0              0
2                              0                     0              0
3                              0                     0              0
4                              0                     0              1
...                          ...                   ...            ...
104500                         0                     0              0
104501                         0                     0              0
104502                         0                     0              0
104503                         0                     0              0
104504                         0                     0              0

        affordability_amt_total  City Cluster        City               Zone  \
0                           NaN         Cairo       Cairo        Mohandiseen
1                           NaN         Cairo       Cairo     Tagamoa 5 east
2                           NaN         Cairo       Cairo  Cairo_city_centre
3                           NaN         Cairo       Cairo              Maadi
4                          38.0         Cairo       Cairo              Maadi
...                         ...           ...         ...                ...
104500                      NaN         Cairo       Cairo               Giza
104501                      NaN           ESM   Port Said      Portsaid city
104502                      NaN         Cairo       Cairo         Heliopolis
104503                      NaN          Alex  Alexandria    Alexandria west
104504                      NaN         Cairo       Cairo             Helwan

            main_cuisine
0           Coffee & Tea
1       Foul and Falafel
2                Italian
3               Desserts
4          International
...                  ...
104500         Fast Food
104501             Pizza
104502           Burgers
104503         Fast Food
104504         Fast Food

[104505 rows x 32 columns]